* {
  font-family: "nunito-sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* top section */
.top-section {
  background: rgb(46, 7, 138);
  background: linear-gradient(45deg, #160e85 15%, #0f3eda 100%);
  height: 100vh;
  padding: 100px;
}

.top-section .container-fluid {
  height: 100%;
}

.top-section .row {
  height: 100%;
  align-items: center;
}

.top-section-text h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.top-section-text p {
  color: rgb(204, 204, 204);
  margin-bottom: 30px;
}

.top-section-text a {
  color: #fff;
  text-decoration: none;
  background: #069e78;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  box-shadow: -5px 5px 5px 0 rgb(8, 24, 104);
  transition: 0.3s;
}

.top-section-text a:hover {
  box-shadow: -10px 10px 5px 0 rgb(8, 22, 94);
}

.top-section-text a:active {
  box-shadow: -5px 5px 5px 0 rgb(7, 19, 80);
}

.top-section-image {
  text-align: center;
}

.top-section-image img {
  height: 65vh;
}

/* end top section */

/* curves */
.custom-shape-divider-bottom-1638442322 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638442322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1638442322 .shape-fill {
  fill: #ffffff;
}
/* end curves */

/* features */
.features {
  margin-top: 100px;
  padding: 0 100px;
  text-align: center;
}

.features-head {
  margin-bottom: 20px;
}

.features-head p {
  font-size: 32px;
  font-weight: 600;
}

.feature-block {
  padding: 30px;
}

.feature-icon {
  margin-bottom: 10px;
}

.feature-block:nth-child(1) .feature-icon i {
  font-size: 40px;
  color: #107fbe;
}
.feature-block:nth-child(2) .feature-icon i {
  font-size: 40px;
  color: #dd1c26;
}
.feature-block:nth-child(3) .feature-icon i {
  font-size: 40px;
  color: #dbaa0b;
}

.feature-text p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
}

.feature-text p:nth-child(2) {
  font-size: 15px;
  color: #6d6d6d;
}

.feature-image {
  margin-top: 40px;
}

.feature-image img {
  width: 70%;
}

/* end features */
