* {
  font-family: "nunito-sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* top section */
.top-section {
  background: rgb(7, 59, 138);
  background: linear-gradient(45deg, #160e85 15%, #0c6bb8 100%);
  height: 100vh;
  padding: 100px;
}

.top-section .container-fluid {
  height: 100%;
}

.top-section .row {
  height: 100%;
  align-items: center;
}

.top-section-text h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.top-section-text p {
  color: rgb(204, 204, 204);
  margin-bottom: 30px;
}

.download-btns {
  margin-top: 50px;
}

.download-btns a {
  color: #fff;
  text-decoration: none;
  background: #069e78;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  box-shadow: -5px 5px 5px 0 rgb(8, 24, 104);
  transition: 0.3s;
  margin-right: 15px;
}

.download-btns a:hover {
  box-shadow: -10px 10px 5px 0 rgb(5, 16, 70);
}

.download-btns a:active {
  box-shadow: -5px 5px 5px 0 rgb(7, 19, 80);
}

.top-section-image {
  text-align: center;
}

.top-section-image img {
  height: 65vh;
  transform: rotate(15deg);
}

/* end top section */

/* curves */
.custom-shape-divider-bottom-1638442322 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638442322 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1638442322 .shape-fill {
  fill: #ffffff;
}
/* end curves */

/* features */
.features {
  margin-top: 100px;
  padding: 0 100px;
  text-align: center;
  margin-bottom: 70px;
}

.features-head {
  margin-bottom: 20px;
}

.features-head p {
  font-size: 32px;
  font-weight: 600;
}

.feature-block {
  padding: 30px;
}

.feature-icon {
  margin-bottom: 10px;
}

.feature-block:nth-child(1) .feature-icon i {
  font-size: 40px;
  color: #107fbe;
}
.feature-block:nth-child(2) .feature-icon i {
  font-size: 40px;
  color: #dd1c26;
}
.feature-block:nth-child(3) .feature-icon i {
  font-size: 40px;
  color: #dbaa0b;
}

.feature-text p:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
}

.feature-text p:nth-child(2) {
  font-size: 15px;
  color: #6d6d6d;
}

.feature-image {
  margin-top: 40px;
}

.feature-image img {
  width: 70%;
}

/* end features */

/* apps section */

.apps {
  /* height: 350px; */
  background: rgb(7, 25, 138);
  background: linear-gradient(
    45deg,
    rgba(7, 25, 138, 1) 39%,
    rgba(0, 164, 211, 1) 100%
  );
  color: #fff;
  padding: 50px 0;
}

.apps .row {
  align-items: center;
}

.app-links-section {
  text-align: center;
}

.app-links-section p {
  font-size: 30px;
  font-weight: 600;
}

.app-links-section a {
  color: #fff;
  text-decoration: none;
  background-color: #069e78;
}

.app-image-section img {
  height: 280px;
  transform: rotate(30deg);
}

/* end apps section */

/* section */

.section {
  padding: 100px;
}

.section .row {
  align-items: center;
}

.section-text p:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
}

.section-text p:nth-child(2) {
  color: #6d6d6d;
}

.section-image img {
  width: 100%;
}

/* end section   */

@media screen and (max-width: 980px) {
  /* top section */
  .top-section {
    padding: 10px;
    height: auto;
    position: relative;
  }

  .top-section .container-fluid {
    height: 100%;
  }

  .top-section .row {
    height: 100%;
    align-items: center;
  }

  .top-section-text {
    margin: 100px 0;
  }

  .top-section-text h1 {
    font-size: 30px;
  }

  .download-btns {
    margin-top: 40px;
  }

  .download-btns a {
    padding: 10px 15px;
    font-size: 16px;
    margin-right: 5px;
  }

  .top-section-image {
    display: none;
    text-align: center;
  }

  .top-section-image img {
    height: 200px;
    transform: rotate(15deg);
  }

  /* end top section */

  /* curves */

  .custom-shape-divider-bottom-1638442322 svg {
    height: 26px;
  }
  /* end curves */

  /* features */
  .features {
    margin-top: 70px;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .features-head {
    margin-bottom: 15px;
  }

  .features-head p {
    font-size: 30px;
  }

  .feature-block {
    padding: 15px 30px;
  }

  .feature-image img {
    width: 90%;
  }

  /* end features */

  /* apps section */

  .apps {
    padding: 40px 20px;
    text-align: center;
  }

  .app-links-section {
    margin-bottom: 50px;
  }

  .app-links-section p {
    font-size: 22px;
  }

  .app-image-section img {
    height: 220px;
    transform: rotate(40deg);
  }

  /* end apps section */

  /* section */

  .section {
    padding: 60px 20px;
  }

  .section-text p:nth-child(1) {
    font-size: 21px;
  }

  .section-text p:nth-child(2) {
    font-size: 15px;
  }

  .section-image {
    margin-top: 30px;
  }

  .section-image img {
    width: 90%;
  }

  /* end section   */
}
